
# moon
.moon/cache
.moon/docker
node_modules
dist
bin
.moon/cache
proto

node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.output
.vinxi
todos.json

pnpm-lock.yaml
build
.env.*

styled-system/
packages/design-system/src/css/
packages/design-system/src/jsx/
packages/design-system/src/tokens/
packages/design-system/src/types/
packages/design-system/src/patterns/
packages/design-system/src/helpers.mjs
apps/admin/src/styles.css